.user-info{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.user-info h1{
    font-size: 16px;
    line-height: 1.3em;
}
.user-info p{
    font-size: 14px;
    line-height: 1.5em;
}
.user-info img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    max-width: 100%;
}
.user-details{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 20px 0;
}
.user-details h3{
    font-size: 30px;  
}
.user-details h3 sub{
    font-size: 16px;
    font-weight: 500;
    color: rgb(144 154 185);
}
.user-details p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(105, 132, 145);
}

@media (min-width: 768px) and (max-width: 1180px){
    .user-info p{
        font-size: 12px;
    }
    .user-info h1{
        font-size: 14px;
    }
}