.site-info{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header h1{
    font-size: 40px;

}
.description p {
    padding: 10px 0 10px 14px;
    font-size: 20px;
    font-weight: 600;
}
.header h1{
    font-size: 40px;

}
.description p {
    padding: 10px 0 10px 14px;
    font-size: 20px;
    font-weight: 600;
}

.activities-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px 20px 0 0px ;
}

@media (max-width: 767.98px) { 
    .activities-container{
        
        grid-template-columns: repeat(1,1fr);

    }
    .header h1 {
        font-size: 30px;
    }
 }