.break {
    background-color: rgb(242 244 250);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}
.sidebar-container .title{
    font-weight: 700;
    font-size: 18px;
    padding:40px 0 0 ;
}
.sidebar-container h5{
    font-weight: 600;
    font-size: 16px;
}

.time-count{
    background-color: rgb(242 244 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px;
    border-radius: 10px;
    margin: 20px 0;
}

.sidebar-container .completed-btn{
        width: 100%;
        background: #5A20CB;
        color: whitesmoke;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        border-radius: 8px;
        padding: 10px;
    }
    .completed-btn:hover{
        background: #1FAA59;
        cursor: pointer;
    }

    @media (max-width: 767.98px) { 
        .break{
            padding: 15px;
        }
        .sidebar-container .title{
            padding: 25px 0 0 0;
        }
    }