*{
  margin: 0;
  padding: 0;
  /* background: rgb(217, 235, 245); */

}
.container{
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12,1fr);
  gap: 20px;
  background: rgb(242 244 250);
}
.main-container{
  grid-column: 2/10;
  padding: 50px 0;
  
}
.sidbar-container{
  grid-column: 10/-1;
  background: #fff;
  padding: 50px 20px;
}

@media (max-width: 767.98px) { 
  .main-container{
    grid-column: 2/-2;
    
  }
  .sidbar-container{
    grid-column: 2/-2;
    
  }
}