.break-btn{
    
    display: flex;
    flex-flow: wrap row;
    gap: 12px;
    justify-content: center;

}


.break-btn button {
    width: 50px;
    height: 50px;
    border: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    background: #f0f0f0;
    box-shadow: -5px -5px 10px #bebebe,
                5px 5px 10px #ffffff;
}

.break-btn button:hover{
    color:whitesmoke;
    background:#5A20CB;
}

@media (max-width: 767.98px) { 
    .break-btn{
        gap: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .break-btn{
        justify-content: start;
    }
}
 